* {
    box-sizing: border-box
  }
  
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Dosis', sans-serif;
    line-height: 0.5;
    color: #666;
    background: black;
  }
   
  h1 {
    text-align: center;
    padding: 0.5rem 0.5rem;
    margin: 0 0 0.5rem 0;
    font-size: 1.1rem;
    color: white;
  }

  h1#data_geral{
      color: yellowgreen;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0px;
  }

  table, th, td {
    padding: 5px;
    border: 1px solid white;
  }

  td#volume_poloniex {
    color: white;
  }

div#conteudo-left#h1 {
  line-height: 0.2;
}